In [1]:
import pandas as pd
import numpy as np

In [2]:
# pd4 stands for Inflight Service: Pre order data which is fourth table.
pd4=pd.read_csv("Inflight Service_Pre order data.csv")
pd4

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
0,1423,INX,DEX,B3XX1H,UA,9/1/2022,J,ENTREES HOT,POULTRY,"Za'atar chicken with spinach, roasted peppers,...","Za'atar chicken with spinach, roasted peppers,...",Y,1
1,1620,IAX,CUX,BFXXJC,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,2
2,1852,ORX,PDX,DPXX2H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,1
3,548,IAX,SFX,ELXX8H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Scrambled eggs,"Scrambled eggs with ham, onion and peppers",Y,2
4,1155,IAX,CUX,NCXX4S,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Belgium waffle,Belgium waffle with bourbon banana fosters sau...,Y,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212034,2189,DEX,FLX,PDXXCY,UA,9/14/2022,Y,UNITED CATERER OWNED 88-3F,SNACKS,SkinnyDipped® Lemon Bliss Almonds,NaN,N,1
212035,1618,LAX,ORX,KZXXFK,UA,9/14/2022,Y,NaN,NaN,Sparkling Wine,NaN,NaN,1
212036,1498,SFX,IAX,O3XX7J,UA,9/11/2022,Y,ALCOHOL BEVERAGES,GENERIC INT WINE A,Red Wine,Red Wine 187ml,N,1
212037,1830,EWX,SFX,BQXXYW,UA,9/14/2022,Y,LIQUOR,LIQUOR,Buffalo Trace,NaN,N,1
212038,2237,ORX,DEX,FJXX14,UA,9/30/2022,J,ENTREES HOT,POULTRY,Za’atar chicken,NaN,Y,1

In [3]:
pd4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212039 entries, 0 to 212038
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   flight_number            212039 non-null  int64
 1   departure_station_code   212039 non-null  object
 2   arrival_station_code     212039 non-null  object
 3   record_locator           212039 non-null  object
 4   carrier_code             212039 non-null  object
 5   scheduled_departure_dtl  212039 non-null  object
 6   cabin_code               212039 non-null  object
 7   meal_group               191728 non-null  object
 8   meal_category            191728 non-null  object
 9   meal_short_description   212039 non-null  object
 10  meal_description         137062 non-null  object
 11  is_entree                191728 non-null  object
 12  pre_order_qty            212039 non-null  int64
dtypes: int64(2), object(11)
memory usage: 21.0+ MB

In [4]:
pd4.describe()

       flight_number  pre_order_qty
count  212039.000000  212039.000000
mean     1454.631634       1.200902
std       726.394631       0.854160
min         2.000000       0.000000
25%       732.000000       1.000000
50%      1556.000000       1.000000
75%      2090.000000       1.000000
max      2685.000000      44.000000

In [5]:
pd4.isnull().sum()

flight_number                  0
departure_station_code         0
arrival_station_code           0
record_locator                 0
carrier_code                   0
scheduled_departure_dtl        0
cabin_code                     0
meal_group                 20311
meal_category              20311
meal_short_description         0
meal_description           74977
is_entree                  20311
pre_order_qty                  0
dtype: int64

In [6]:
df=pd4[pd4['meal_group'].isnull()].copy()
df

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
345,418,LAX,OGX,G5XXCN,UA,9/3/2022,Y,NaN,NaN,Sparkling Wine,NaN,NaN,4
347,2359,IAX,SAX,A3XXB1,UA,9/3/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
354,1539,ORX,TPX,OZXXEJ,UA,9/2/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
359,2000,SFX,DEX,MXXX5Z,UA,9/3/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
371,529,ORX,SFX,AKXXXH,UA,9/20/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212020,677,EWX,AUX,E6XX61,UA,9/28/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
212026,1829,MCX,ORX,AEXXVC,UA,9/10/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
212028,717,BUX,DEX,A9XXWB,UA,9/11/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
212030,2347,SFX,DFX,F1XXY1,UA,9/11/2022,J,NaN,NaN,I will decide onboard,NaN,NaN,0
212035,1618,LAX,ORX,KZXXFK,UA,9/14/2022,Y,NaN,NaN,Sparkling Wine,NaN,NaN,1

In [7]:
pd4['meal_group'].value_counts()

ENTREES HOT                   147826
UNITED CATERER OWNED 88-3F     33094
LIQUOR                          4167
ALCOHOL BEVERAGES               2680
BEER                            2120
ENTREES COLD                    1796
SANDWICHES                        45
Name: meal_group, dtype: int64

In [8]:
pd4['meal_category'].value_counts()

BREAKFAST             51771
POULTRY               39172
SNACKS                33094
VEGETARIAN            30189
BEEF/VEAL             25158
LIQUOR                 4167
GENERIC INT WINE A     2680
BEER                   2120
CHEESE                 1758
PASTA                   819
SEAFOOD                 488
PORK                    112
DINNER                   89
SANDWICH                 45
VARIETY                  38
VEGETABLE                26
LAMB                      2
Name: meal_category, dtype: int64

In [9]:
pd4['meal_short_description'].value_counts()

Za’atar chicken                26970
Brioche cheeseburger           23515
Scrambled eggs                 19488
Impossible™ Meatball Bowl      16702
I will decide onboard          13958
                               ...
Herb crusted Halibut               2
Roasted pollock fish fillet        2
Penne pasta                        1
Bhuta palak                        1
Sauteed chicken breast             1
Name: meal_short_description, Length: 103, dtype: int64

In [10]:
pd4[pd4['meal_group'].isnull()]['meal_short_description'].value_counts()
# 'I will decide onboard' can be termed as inventory data. 
# 'I do not want to eat' and 'I would like to go directly to sleep' can be termed as No Food. 
# 'I am a United Club member and will eat there before my flight', can be termed as Club Food.

I will decide onboard                                            13958
I do not want to eat                                              1968
Sparkling Wine                                                    1867
I would like to go directly to sleep                               695
Asian Vegetarian Meal                                              462
I am a United Club member and will eat there before my flight      421
Vegetarian (Non-Dairy) Meal                                        346
Gluten-free Meal                                                   333
Kosher Meal                                                        261
Name: meal_short_description, dtype: int64

In [11]:
for index, row in pd4.iterrows():
    if row['meal_short_description'] == 'I will decide onboard':
        pd4.loc[index, 'meal_group'] = 'Inventory Food'
        pd4.loc[index, 'meal_category'] = 'Inventory Food'
        
    elif (row['meal_short_description'] == 'I do not want to eat') or (row['meal_short_description'] == 'I would like to go directly to sleep'):
        pd4.loc[index, 'meal_group'] = 'No Food'
        pd4.loc[index, 'meal_category'] = 'No Food'
    
    elif row['meal_short_description'] == 'I am a United Club member and will eat there before my flight':
        pd4.loc[index, 'meal_group'] = 'Club Food'
        pd4.loc[index, 'meal_category'] = 'Club Food'
        
    elif row['meal_short_description'] == 'Sparkling Wine':
        pd4.loc[index, 'meal_group'] = 'ALCOHOL BEVERAGES'
        pd4.loc[index, 'meal_category'] = 'GENERIC INT WINE A'
    
    elif row['meal_short_description'] == 'Asian Vegetarian Meal':
        pd4.loc[index, 'meal_group'] = 'ENTREES HOT'
        pd4.loc[index, 'meal_category'] = 'VEGETARIAN'
    
    elif row['meal_short_description'] == 'Vegetarian (Non-Dairy) Meal':
        pd4.loc[index, 'meal_group'] = 'ENTREES HOT'
        pd4.loc[index, 'meal_category'] = 'VEGETARIAN'
    
    elif row['meal_short_description'] == 'Gluten-free Meal':
        pd4.loc[index, 'meal_group'] = 'ENTREES HOT'
        pd4.loc[index, 'meal_category'] = 'Gluten-Free'
    
    elif row['meal_short_description'] == 'Kosher Meal':
        pd4.loc[index, 'meal_group'] = 'ENTREES HOT'
        pd4.loc[index, 'meal_category'] = 'Kosher'

In [12]:
pd4[pd4['meal_group'].isnull()]['meal_short_description'].value_counts()

Series([], Name: meal_short_description, dtype: int64)

In [13]:
pd4.isnull().sum()

flight_number                  0
departure_station_code         0
arrival_station_code           0
record_locator                 0
carrier_code                   0
scheduled_departure_dtl        0
cabin_code                     0
meal_group                     0
meal_category                  0
meal_short_description         0
meal_description           74977
is_entree                  20311
pre_order_qty                  0
dtype: int64

In [14]:
pd4['meal_description'].fillna('NA',inplace=True)

In [15]:
pd4.isnull().sum()

flight_number                  0
departure_station_code         0
arrival_station_code           0
record_locator                 0
carrier_code                   0
scheduled_departure_dtl        0
cabin_code                     0
meal_group                     0
meal_category                  0
meal_short_description         0
meal_description               0
is_entree                  20311
pre_order_qty                  0
dtype: int64

In [16]:
pd4['is_entree'].value_counts()

Y    149667
N     42061
Name: is_entree, dtype: int64

In [17]:
pd4[pd4['is_entree']=='Y'][['meal_group','meal_category']].value_counts()

meal_group    meal_category
ENTREES HOT   BREAKFAST        51771
              POULTRY          39172
              VEGETARIAN       30189
              BEEF/VEAL        25158
ENTREES COLD  CHEESE            1758
ENTREES HOT   PASTA              819
              SEAFOOD            488
              PORK               112
              DINNER              89
SANDWICHES    SANDWICH            45
ENTREES COLD  VARIETY             38
ENTREES HOT   VEGETABLE           26
              LAMB                 2
dtype: int64

In [18]:
import numpy as np

for index, row in pd4.iterrows():
    if (pd.isna(row['is_entree']) or row['is_entree'] == '') and (row['meal_group'] in ['ENTREES HOT', 'ENTREES COLD']):
        pd4.loc[index, 'is_entree'] = 'Y'

In [19]:
pd4.isnull().sum()

flight_number                  0
departure_station_code         0
arrival_station_code           0
record_locator                 0
carrier_code                   0
scheduled_departure_dtl        0
cabin_code                     0
meal_group                     0
meal_category                  0
meal_short_description         0
meal_description               0
is_entree                  18909
pre_order_qty                  0
dtype: int64

In [20]:
pd4['is_entree'].fillna('N',inplace=True)

In [21]:
pd4.isnull().sum()

flight_number              0
departure_station_code     0
arrival_station_code       0
record_locator             0
carrier_code               0
scheduled_departure_dtl    0
cabin_code                 0
meal_group                 0
meal_category              0
meal_short_description     0
meal_description           0
is_entree                  0
pre_order_qty              0
dtype: int64

In [23]:
pd4['scheduled_departure_dtl'] = pd.to_datetime(pd4['scheduled_departure_dtl'], format='%m/%d/%Y')

In [24]:
pd4.to_csv('Inflight Service_Pre order data Clean.csv')